.searchesWrapper {
    width: 100vw;
    height: 110vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: white;
    z-index: 5;
}

.hideSearch {
    display: none;
}

.top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    z-index: 5;
}

.searchWrapper {
    display: flex;
    width: 80%;
    font-size: clamp(.6rem, 2vw, 1rem);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--drop-shadow);
    margin-top: 1rem;
}

.searchWrapper #searchLogo {
    background: transparent;
}

.searchWrapper>* {
    padding: 1rem 1rem;
    background: transparent;
    outline: none;
    border: 0;
}

.searchWrapper #searchInput+#searchButton {
    font-family: var(--font);
    font-weight: bold;
}

.searchWrapper #searchInput {
    width: 100%;
}

.searchWrapper #searchButton {
    color: var(--sixty-percent);
    background-color: var(--thirty-percent);
}

.top .mainNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--drop-shadow);
}

.top .mainNav>h1 {
    margin-left: 1rem;
}

.top .mainNav>button {
    height: fit-content;
    padding: .5rem .75rem;
    font-size: clamp(.6rem, 2vw, 1rem);
    border-radius: 1rem;
    border: 0;
    font-family: "Inter", sans;
    font-weight: 500;
    color: white;
    box-shadow: var(--drop-shadow);
    background: var(--ten-percent);
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top .mainNav>button:hover {
    background-color: var(--thirty-percent);
}

.searches {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.searches>ul {
    width: 80%;
    height: 100%;
    margin-top: 1.5rem;
}

@media screen and (max-width: 400px) {
    .top {
        justify-content: space-between;
        position: relative;
    }
    .searchWrapper>i {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}