.activity,
.pendingActivity {
    flex-shrink: 0;
    color: var(--thirty-percent);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -5px black, -5px 5px 0 2px #0ec00e;
    padding: 1rem;
    width: 10rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: .75rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: .5rem;
    position: relative;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        /* Adjust thumb color */
        border-radius: 10px;
        /* Adjust border radius */
        border: 3px solid #f1f1f1;
    }
}

.highlight {
    scale: 1.05;
    background-color: rgb(228, 228, 228);
}

.selected,
.notSelected {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.selected {
    background-color: var(--ten-percent);
    color: white;
}

.pendingActivity {
    box-shadow: 0 5px 10px -5px black, -5px 5px 0 2px var(--ten-percent);
}

.activity>h2,
.activity>p,
.pendingActivity>p,
.pendingActivity>h2 {
    text-align: center;
}