.recapWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    gap: .5rem;
    &::-webkit-scrollbar {
        display: none;
    }
}


/* Top section */

.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top h2 {
    width: fit-content;
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-weight: 700;
    color: var(--thirty-percent);
    font-family: var(--font-title);
    margin-left: .5rem;
}

.weekWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: .5rem;
    position: relative;
}

.weekButton {
    font-size: clamp(.5rem, 2.5vw, .75rem);
    background: var(--sixty-percent);
    border: 1px solid var(--component-color);
    border-radius: 6px;
    padding: clamp(.2rem, 2.5vw, .5rem) clamp(.4rem, 2.5vw, .9rem);
    font-weight: 600;
    cursor: pointer;
}

.hideDropDown {
    display: none;
}

.weeksDropdown {
    position: absolute;
    top: 95%;
    left: 0;
    background: var(--sixty-percent);
    list-style: none;
    padding: 8px;
    border: 1px solid var(--component-color);
    border-radius: 6px;
    box-shadow: var(--drop-shadow);
    z-index: 10;
}

.weekWrapper .weeksDropdown {
    display: block;
}

.weeksDropdown li {
    padding: .3rem .5rem;
    font-size: .8rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.weeksDropdown li:hover {
    background: var(--component-color);
}

.createRecap {
    background: var(--thirty-percent);
    color: #fff;
    font-weight: 600;
    font-size: clamp(.5rem, 2.5vw, .75rem);
    border: none;
    padding: clamp(.2rem, 2.5vw, .5rem) clamp(.4rem, 2.5vw, .9rem);
    border-radius: 6px;
    cursor: pointer;
}


/* Main Content Recaps */

.daysWrapper {
    width: 87vw;
    height: fit-content;
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
    overflow-y: hidden;
    overflow-x: auto;
}

.daysWrapper>div:last-child {
    margin-right: clamp(1.5rem, 2.5vw, 3rem);
}

@media (max-width: 768px) and (max-height: 900px) {
    .recapWrapper {
        width: 100%;
        height: fit-content;
    }
}